.card {
    cursor: pointer;
    transition: all 0.2s ease
}

.card:hover {
    transform: scale(1.05)
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}